<h2>Admin Dashboard</h2>

<%= link_to 'videos', admin_videos_path %>
<%= link_to 'posts', admin_posts_path %>
<%= link_to 'items', items_path %>
<%= link_to 'shops', admin_shops_path %>
<%= link_to 'notice', admin_notices_path %>