
    <div class="items row">
      <div class="col-md-12">
        <h3>Items</h3>
      </div>
      <div class="col-md-12">
        <div class="row">
          <% @shops.each do |shop| %>
            <% item = shop.items.first %>
            <%= render partial: 'items/item', locals: {item: item} %>
          <% end  %>
        </div>
      </div>
    </div>

    <div class="videos row">
      <% @videos.each do |item| %>
        <%= render partial: 'videos/video', locals: {item: item}  %>
      <% end  %>
    </div>

    <div class="posts row">
      <% @posts.each do |item| %>
        <div class="post col-md-6">
          <%= link_to item.title, item.url %>
          <div class="pull-right">
            <%= item.source %>
            <%= item.created_at.strftime("%m/%d") %>
          </div>
        </div>
      <% end  %>
    </div>



