<div class="items">
  <h3>Items</h3>
  <div class="row">
    <% @shops.each do |shop| %>
      <% item = shop.items.first %>
      <%= render partial: 'items/item', locals: {item: item} %>
    <% end  %>
  </div>
</div>

<div class="videos">
  <h3>Videos</h3>
  <div class="row">
    <% @videos.each do |item| %>
      <%= render partial: 'videos/video', locals: {item: item, show_views: false}  %>
    <% end  %>
  </div>
</div>

<div class="posts">
  <h3>Posts</h3>
  <div class="row">
    <% @posts.each do |item| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= link_to item.title, item.url %>
              <small class="pull-right">
                <%= show_source_name(item) %>
                <%= item.created_at.strftime("%m/%d") %>
              </small></h4>
            <%= truncate(item.abstraction, length: 100) %>
          </div>
        </div>
      </div>
    <% end  %>
  </div>

</div>



