<% content_for :sidebar_selector do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4 class="no-margin">Trending in</h4>
      <%= link_to 'Now', sort: 'new' %>
      <%= link_to '3 Days', number: '3' %>
      <%= link_to '7 Days', number: '7' %>
      <%= link_to '30 Days', number: '30' %>
    </div>
  </div>
<% end %>

<div class="main panel panel-default">
  <div class="panel-body no-bottom-space">
    <h3 class="no-margin no-style-link">
      <%= link_to videos_path do %>
      <span class="glyphicon glyphicon-facetime-video"></span>
      <strong>Videos</strong>
      <% end %>
    </h3>
    <div class="videos row">
      <% @videos.each do |item| %>
        <%= render partial: 'videos/video', locals: {item: item}  %>
      <% end  %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped table-condensed">
      <thead>
      <tr class="no-style-link">
        <th ><h3 class="no-margin">
          <%= link_to cafe_digest_path do %>
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
            <strong>Cafe Posts</strong>
          <% end  %>
        </h3></th>
        <th class="hidden-xxs">❤</th>
        <th class="hidden-xxs">Time</th>
      </tr>
      </thead>

      <tbody>
      <% @posts.each do |post| %>
        <%= render partial: 'posts/post_row', locals: {post: post}  %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


