<h4 class="pull-right">Trending in
  <small>
    <%= link_to '3 Days', number: '3' %>
    <%= link_to '7 Days', number: '7' %>
    <%= link_to '30 Days', number: '30' %>
  </small>
</h4>

<h2>Posts</h2>
<div class="posts row">
  <% @posts.each do |item| %>
    <div class="post col-md-6">
      <h4 class="">
        <%= link_to item.title, item.url %>
        <small class="pull-right">
          <% if item.source == 'cafe' %>
            <%= item.likes %>❤
          <% elsif item.source == 'tieba' %>
            <%= item.reply_number %><span class="glyphicon glyphicon-comment"></span>
          <% end  %>
        </small>
      </h4>
      <div class="">
        <%= truncate(item.abstraction, length: 200) %>
      </div>
    </div>
  <% end  %>
</div>

<h2>Videos</h2>
<div class="videos row">
  <% @videos.each do |item| %>
    <%= render partial: 'videos/video', locals: {item: item}  %>
  <% end  %>
</div>

<h2>Items</h2>
<div class="items row">
  <!--<h3 class="col-md-12">Products</h3>-->
  <% @items.each do |item| %>
    <%= render partial: 'items/item', locals: {item: item, show_shop: false}  %>
  <% end  %>
</div>