<% content_for :sidebar_selector do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to 'Shops', shops_path %>
      <%= link_to 'Items', items_path %>
    </div>
  </div>
<% end %>

<% @shops.each do |shop| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to 'http://' + shop.url do %>
      <h2 class="no-margin">
        <%= shop.name %>
        <small> <%= shop.url%></small>
      </h2>
      <% end %>
    <div class="items">
      <div class="row">
        <% shop.items.order_by_date.first(4).each do |item|  %>
          <%= render partial: 'items/item', locals: {item: item, show_shop: false} %>
        <% end  %>
      </div>
    </div>
    </div>
  </div>
<% end %>