<% unless defined?(show_views)  %>
  <% show_views = true  %>
<% end  %>

<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="video thumbnail <%= item.id %>">
    <div class="video-img">
      <%= link_to item.url do %>
        <%= image_tag(item.img_url, class: 'un-responsive') %>
        <span class="vtime">
          <span class="bg"></span>
          <span class="di"><%= display_time(item.duration) %></span>
        </span>
      <% end %>
    </div>

    <div class="caption clearfix">
      <%= link_to item.title, item.url, class: 'title' %>
      <div class="video-sub-info">
        <% if show_views  %>
          <!--<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>-->
          <strong><%= " #{number_to_human(item.hits, precision: 2)}" %></strong>
        <% end %>
        <div class="pull-right">
          <% author = item.important_author  %>
          <% if item.selected?  %>
            <%= selected_tag_link %>
          <% elsif author %>
            <%= link_to author[:url], class: "video-author" do %>
              <%= image_tag(author[:favicon], class: 'favicon pull-left img-rounded') %>
              <%= author[:name].truncate(12) %>
            <% end %>
          <% else %>
            <span><%= item.created_at.strftime("%m/%d") %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>