<h1>Listing videos</h1>

<%= link_to 'New Video', new_video_path %>
<br>
<span>Order by</span>
<%= link_to 'Date', sort: 'date' %>
<%= link_to 'Popularity', sort: 'pop' %>
<%= link_to 'Duration', sort: 'duration' %>
<%= link_to 'Selected', sort: 'selected' %>
<%= link_to 'Rating', sort: 'rating' %>
<br/>
<%= form_tag(admin_videos_path, :method => "get", id: "search-form") do %>
  <div class="row">
    <div class="col-sm-4">
      <%= text_field_tag :year, params[:year], placeholder: "Year", class: 'form-control', value: '2014' %>
    </div>
    <div class="col-sm-4">
      <%= text_field_tag :month, params[:month], placeholder: "Month", class: 'form-control' %>
    </div>
    <div class="col-sm-2">
      <%= button_tag "Search", class: 'btn btn-success btn-block btn-search'%>
    </div>
  </div>
<% end %>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Hits</th>
    <th>Selected</th>
    <th>Duration</th>
    <th>Category</th>
    <th>Rating</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @videos.each do |video| %>
    <tr>
      <td>
        <%#= image_tag(video.img_url, class: 'img-responsive') %>
        <%= link_to video.title, video.url %>
        <%= video.id %>
        <%= video.created_at.strftime("%Y-%m-%d") %>
        <%= video.updated_at.strftime("%m-%d %H:%M") %>
      </td>
      <td><%= video.hits %></td>
      <td><%= video.selected if video.selected %></td>
      <td><%= display_time(video.duration) %></td>
      <td><%= video.category %></td>
      <td><%= video.rating %></td>
      <td><%= link_to 'Show', video %></td>
      <td><%= link_to 'Edit', edit_video_path(video) %></td>
      <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @videos, renderer: BootstrapPagination::Rails %>


