<% content_for :sidebar_selector_content do %>
  <br/>
  <div class="selectors">
    <span>Order by</span>
    <%= selector_link 'Time', sort: 'date' %>
    <%= selector_link 'Views', sort: 'pop' %>
    <%= selector_link 'Rating', sort: 'rating' %>
  </div>
<% end %>

<%= render 'sidebar_selector' %>

<div class="videos row">
  <% @videos.each do |item| %>
    <%= render partial: 'videos/video', locals: {item: item}  %>
  <% end  %>
</div>

<%= will_paginate @videos, renderer: BootstrapPagination::Rails %>
