<% content_for :sidebar_selector_content do %>
  <br/>
  <span>Order by</span>
  <%= link_to 'Time', sort: 'date' %>
  <%= link_to 'Views', sort: 'pop' %>
  <%= link_to 'Rating', sort: 'rating' %>
<% end %>

<%= render 'sidebar_selector' %>

<div class="videos row">
  <% @videos.each do |item| %>
    <%= render partial: 'videos/video', locals: {item: item}  %>
  <% end  %>
</div>

<%= will_paginate @videos, renderer: BootstrapPagination::Rails %>
