<% content_for :sidebar_selector do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <span>Order by</span>
      <%= link_to '日期', sort: 'date' %>
      <%= link_to '浏览量', sort: 'pop' %>
      <br>
      <%= tag_nav_link('video', '新品') %>
      <%= tag_nav_link('video', '表演') %>
    </div>
  </div>
<% end %>

<div class="videos row">
  <% @videos.each do |item| %>
    <%= render partial: 'videos/video', locals: {item: item}  %>
  <% end  %>
</div>

<%= will_paginate @videos, renderer: BootstrapPagination::Rails %>
