<% content_for :sidebar_selector do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <span>Order by</span>
      <%= link_to 'Time', sort: 'date' %>
      <%= link_to 'Views', sort: 'pop' %>
      <%= link_to 'Rating', sort: 'rating' %>
      <br>
      <%= link_to 'Best Videos', selected_path %>
    </div>
  </div>
<% end %>

<div class="videos row">
  <% @videos.each do |item| %>
    <%= render partial: 'videos/video', locals: {item: item}  %>
  <% end  %>
</div>

<%= will_paginate @videos, renderer: BootstrapPagination::Rails %>
