<h1>Listing videos</h1>

<%= link_to 'New Video', new_video_path %>

<%= link_to 'Order by Date', sort: 'date' %>
<%= link_to 'Order by Popularity', sort: 'pop' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Hits</th>
      <th>Selected</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td>
          <%= image_tag(video.img_url, class: 'img-responsive') %>
          <%= link_to video.title, video.url %></td>
        <td><%= video.hits %></td>
        <td><%= video.selected %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


