<h1>Listing items</h1>

<%= link_to 'New Item', new_item_path %>

<%= link_to 'Order by Date', sort: 'date' %>
<%= link_to 'Order by Popularity', sort: 'pop' %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Img</th>
      <th>Price</th>
      <th>Taobao</th>
      <th>Shop</th>
      <th>Sales Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to(item.title, item.url) %></td>
        <td><%= image_tag(item.img_url) %></td>
        <td><%= number_with_precision(item.price, precision: 2)  %></td>
        <td><%= item.taobao_id %></td>
        <td><%= item.shop_id%></td>
        <td><%= item.sales_number %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
