<% content_for :sidebar_selector do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to 'Shops', shops_path %>
      <%= link_to 'Items', items_path %>
      <h4>Order by </h4>
      <%= link_to 'Date', sort: 'date' %>
      <%= link_to 'Popularity', sort: 'pop' %>
    </div>
  </div>
<% end %>

<div class="items row">
  <% @items.each do |item| %>
    <%= render partial: 'items/item', locals: {item: item, show_shop: false}  %>
  <% end  %>
</div>

<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
