<% unless defined?(show_number)  %>
  <% show_number = false  %>
<% end  %>

<tr>
  <% if show_number %>
  <td><%= post_number+1 %></td>
  <% end  %>
  <td>
    <%= link_to post.title, post.url %><span class="hidden-xxs"> - <%= cafe_tag_link post %></span><br>
    <%= link_to post.url, class:'no-style-link hidden-xxs' do %>
      <%= truncate(post.abstraction, length: 250)%>
    <% end %>
    <div class="visible-xxs">
      <%= cafe_tag_link post %>
      <div class="pull-right">
        ❤<%= post.likes %>
        <%= post.updated_at.strftime("%m/%d") %>
      </div>
    </div>
  </td>
  <% if show_number %>
    <td class="hidden-xxs"><%= post.reply_number %></td>
    <td class="hidden-xxs"><%="#{number_to_human(post.views, precision: 2)}" %></td>
  <% end  %>
  <td class="hidden-xxs"><%= post.likes %></td>
  <td class="hidden-xxs"><%= post.created_at.strftime("%m/%d") %></td>
  <td class="hidden-xxs"><%= post.updated_at.strftime("%m/%d") %></td>
</tr>