<% content_for :sidebar_selector do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4 class="no-margin">Order by</h4>
      <%= link_to 'Create', sort: 'create' %>
      <%= link_to 'Reply', sort: 'update' %>
      <%= link_to 'Likes', sort: 'like' %>
      <br>
      <%= cafe_tag_nav_link('post', 'new') %>
      <%= cafe_tag_nav_link('post', 'card') %>
      <%= cafe_tag_nav_link('post', 'mental') %>
      <%= cafe_tag_nav_link('post', 'review') %>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped table-condensed">
      <thead>
      <tr class="no-style-link">
        <th ><h2 class="no-margin">
          <%= link_to posts_path do %>
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
            <strong>Popular Cafe Posts</strong>
              <% end  %>
        </h2></th>
        <th class="hidden-xxs"><%= link_to 'â¤', sort: 'like' %></th>
        <th class="hidden-xxs"><%= link_to 'Create', sort: 'create' %></th>
        <th class="hidden-xxs"><%= link_to 'Reply', sort: 'update' %></th>
      </tr>
      </thead>

      <tbody>
      <% @posts.each do |post| %>
       <%= render partial: 'posts/post_row', locals: {post: post}  %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
