
<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <strong>Magic Digest</strong>
      <% end  %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <%= nav_link  'Trending', pop_path, nil, "glyphicon glyphicon-signal" %>
        <%= nav_link  'Videos', best_videos_path, nil,"glyphicon glyphicon-facetime-video"  %>
        <%= nav_link  'Posts', best_posts_path,nil, 'glyphicon glyphicon-cutlery' %>
        <%= nav_link  'Sources', resources_path, nil, 'glyphicon glyphicon-list-alt' %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= nav_link  'Top Penguin Live?', reports_penguin_path, 'important-link' %>
        <%= nav_link  'Discuss', discuss_path, nil, 'glyphicon glyphicon-pencil' %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</header>
