<!DOCTYPE html>
<html>
<head>
  <title>Cafe Digest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5f94c3a160e0e65368c50729114616e3' type='text/javascript'%3E%3C/script%3E"));
  </script>-->
</head>
<body>
<%#= render 'layouts/header' %>
<div class="container cafe_spot_layout">
  <div class="row">
    <div class="col-md-9">
      <%= yield %>
    </div>
    <div class="col-md-3">
      <div class="">
        <%= yield :sidebar_selector %>
        <div class="notices">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Notice</h4>
            </div>
            <ul class="list-group">
              <li class="list-group-item notice">Here are the <strong>hottest topics</strong> at <a href="http://themagiccafe.com">themagiccafe.com</a></li>
              <li class="list-group-item notice">If you have any <strong>suggestion</strong>, you can put it <a href="">here</a>, or contact me by 38306608@qq.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
